@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 83% 5%;
    --foreground: 200 33% 85%;
    --card: 224 83% 5%;
    --card-foreground: 200 33% 85%;
    --popover: 224 83% 5%;
    --popover-foreground: 200 33% 85%;
    --primary: 217 99% 50%;
    --primary-foreground: 224 83% 5%;
    --secondary: 222 100% 12%;
    --secondary-foreground: 200 33% 85%;
    --muted: 222 100% 12%;
    --muted-foreground: 200 24% 65%;
    --accent: 206 98% 57%;
    --accent-foreground: 222 100% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 100% 12%;
    --input: 222 100% 12%;
    --ring: 217 99% 50%;
    --chart-1: 217 99% 50%;
    --chart-2: 206 98% 57%;
    --chart-3: 215 97% 49%;
    --chart-4: 222 100% 23%;
    --chart-5: 200 33% 85%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
