@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 68% 6%;
    --foreground: 198 39% 85%;
    --card: 225 68% 6%;
    --card-foreground: 198 39% 85%;
    --popover: 225 68% 6%;
    --popover-foreground: 198 39% 85%;
    --primary: 209 97% 54%;
    --primary-foreground: 225 68% 6%;
    --secondary: 221 68% 12%;
    --secondary-foreground: 198 39% 85%;
    --muted: 221 68% 12%;
    --muted-foreground: 198 30% 65%;
    --accent: 202 99% 71%;
    --accent-foreground: 225 68% 6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 68% 12%;
    --input: 221 68% 12%;
    --ring: 209 97% 54%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
